body{
    font-family: 'Times New Roman', Times;
    margin: 0;
}
header{
    display: flex;
    height: 100px;
    background-color: rgb(212, 150, 224);
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.logo{
    display: flex;
    height: 100px;
}

#parent{
    background-color: rgb(167, 167, 167);
    height: 1000000px;
    
}
.titulo{
    font-family: sans-serif;
    font-size:20; 
    display: flex;
}
.respuesta1{
    font-family: sans-serif;
    font-size:20;
    margin: 20px;
}
.ver{
    font-family:'Times New Roman', Times, serif ;
    font-size:12;
    
}
.respuesta2{
    font-family: sans-serif;
    font-size:20;
    margin: 20px;
}

.formas{
    font-family: sans-serif;
    font-size:20;
    margin: 30px;
}
.forma{
    font-family:'Times New Roman', Times, serif ;
    font-size:12;
}
.img1{
    font-family:'Times New Roman', Times, serif ;
    font-size:12;
    margin: 40px;
}

.img2{
    font-family:'Times New Roman', Times, serif ;
    font-size:12;
    margin: 40px;
    
}
.img3{
    font-family:'Times New Roman', Times, serif ;
    font-size:12;
    margin: 40px; 

}
.respuesta3{
    font-family: sans-serif;
    font-size:20;
    margin: 20px;
}
.var{
    font-family:'Times New Roman', Times, serif ;
    font-size:12;
    margin: 30px; 
}
.respuesta4{
    font-family: sans-serif;
    font-size:20;
    margin: 20px;
}

.for{
    font-family: sans-serif;
    font-size:20;
    margin: 30px;
}
.decla{
    font-family:'Times New Roman', Times, serif ;
    font-size:12;
    margin: 30px; 
}

.respuesta5{
    font-family: sans-serif;
    font-size:20;
    margin: 20px;
}
.or{
    font-family: sans-serif;
    font-size:20;
    margin: 20px;
}

.opera{
    font-family:'Times New Roman', Times, serif ;
    font-size:12;
    margin: 30px; 
}

.respuesta6{
    font-family: sans-serif;
    font-size:20;
    margin: 20px;
}
.estruc{
    font-family: sans-serif;
    font-size:20;
    margin:30px;
}

.esdos{
    font-family:'Times New Roman', Times, serif ;
    font-size:12;
    margin: 30px; 
}



